[color]
	ui = true
	diff = true

[user]
	email = shriyansbhatnagar@gmail.com
	name = Shriyans
	signingkey = 19157ED09CF99AF8

[alias]
	l = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s' --name-status
	lg = log --decorate=short
	co = checkout
	br = branch
	cm = commit
	pick = cherry-pick
	g = grep --line-number
	sh = show --pretty=format:'%Cred%h %Cgreen%an %Creset%s' --name-status
	st = status
	
[core]
	editor = nvim
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
